{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
  <img src="{% static 'images/finch-1.jpeg' %}" alt="A cool finch" />
  <img src="{% static 'images/finch-2.jpeg' %}" alt="A happy finch" />
  <img src="{% static 'images/finch-3.png' %}" alt="A finch in a teacup" />
  <img src="{% static 'images/finch-4.jpeg' %}" alt="A finch in a box" />
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/finch-5.png' %}" 
            alt="A skater boy finch"
          >
        </div>
        <h2 class="card-title">{{ finch.name }}</h2>
        {% if finch.age > 0 %}
          <p>A {{ finch.age }} year old {{ finch.breed }}</p>
        {% else %}
          <p>A {{ finch.breed }} kitten.</p>
        {% endif %}
        <p><small>{{ finch.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}